* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-SemiBold.woff2") format("woff2");
  font-weight: 800;
}
.menu__link, body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.features__link, .footer__btn, .top__btnlink, .box__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.bookNow__link-text, .footer__text, .features__text, .counter__text, .team-card__name, .counter__title, .top__title, .box__title {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

.team-card__name, .counter__title, .top__title, .box__title {
  font-size: clamp(1.688rem, 1.194rem + 2.11vw, 2.813rem);
  color: #181818;
  line-height: 116%;
}

.footer__text, .features__text, .counter__text {
  font-size: clamp(1.125rem, 1.07rem + 0.23vw, 1.25rem);
  color: #181818;
  line-height: 116%;
}

.ourHistory__video-play, .ourHistory__video, .features__icon, .ourVision__item-decor, .top__btn-decor, .top__btn, .header__link-decor, .header__link, .box__btn-prev, .box__btn-next, .footer__btn, .top__btnlink, .box__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box__link {
  min-height: 61px;
  padding: 0 20px 0 20px;
  border-radius: 42px;
  background-color: #FFCC4A;
  transition: all 0.5s;
  font-size: 18px;
  line-height: 160%;
  color: #181818;
}
.box__link:hover {
  transform: translateY(-4px);
  background-color: #181818;
  color: #fff;
}

.footer__btn, .top__btnlink {
  min-height: 61px;
  border: 1px #181818 solid;
  padding: 0 20px 0 20px;
  border-radius: 42px;
  background-color: #181818;
  transition: all 0.5s;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}
.footer__btn:hover, .top__btnlink:hover {
  transform: translateY(-4px);
  background-color: transparent;
  color: #181818;
}

.menu__item {
  position: relative;
  overflow: hidden;
}
.menu__item:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: #181818;
  width: 100%;
  height: 1px;
  transform-origin: right;
  scale: 0;
  transition: scale 0.5s;
}
.menu__item:hover:after {
  transform-origin: left;
  scale: 1;
}

.top__pubble, .box__pubble {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: 0 10px;
  border-radius: 30px;
  color: #fff;
  background-color: #4eaf4e;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #181818;
  overflow-x: hidden;
  height: 100%;
}
body.open--menu {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(0.313rem, -0.154rem + 1.99vw, 1.375rem);
}
.box__pubble {
  position: relative;
  z-index: 10;
}
.box__content {
  display: flex;
  flex-direction: column;
  gap: clamp(0.313rem, -0.154rem + 1.99vw, 1.375rem);
  align-items: flex-start;
  max-width: 731px;
}
.box__btnbox {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media (max-width: 550px) {
  .box__btnbox {
    display: none;
  }
}
.box__btn-prev, .box__btn-next {
  width: clamp(3.125rem, 2.577rem + 2.34vw, 4.375rem);
  height: clamp(3.125rem, 2.577rem + 2.34vw, 4.375rem);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.box__btn-prev:before, .box__btn-next:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-repeat: no-repeat;
  transition: all 0.6s;
}
.box__btn-prev {
  background-color: #181818;
  transition: all 0.6s;
}
.box__btn-prev:hover {
  scale: 1.05;
}
.box__btn-prev:before {
  background-image: url(../img/icon/arrowPrev.svg);
}
.box__btn-next {
  background-color: #FFC42B;
  transition: all 0.6s;
}
.box__btn-next:hover {
  scale: 1.05;
}
.box__btn-next:before {
  background-image: url(../img/icon/arrowNext.svg);
}
@media (max-width: 1023px) {
  .box--mediaAllWidth.blog__box, .box--mediaAllWidth.features__box, .box--mediaAllWidth.team__box {
    flex-direction: column;
  }
  .box--mediaAllWidth .box__pubble {
    margin: 0 auto;
  }
  .box--mediaAllWidth .box__link {
    width: 100%;
  }
  .box--mediaAllWidth .box__content {
    text-align: center;
    max-width: 100%;
    width: 100%;
    align-items: center;
  }
}

.header {
  padding: 15px 0;
  position: fixed;
  min-width: 100%;
  z-index: 99999;
  background-color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.header__logo {
  position: relative;
  z-index: 10;
}
.header__link {
  min-height: 61px;
  padding: 0 30px 0 10px;
  border-radius: 42px;
  background: rgb(243, 243, 243);
  transition: all 0.5s;
  position: relative;
}
.header__link:hover {
  transform: translateY(-4px);
}
.header__link:hover .header__link-decor:before {
  rotate: 360deg;
}
.header__link-text {
  font-size: 18px;
  line-height: 160%;
  color: #353535;
  margin-left: 11px;
}
.header__link-decor {
  width: 44px;
  height: 44px;
  background-color: #4eaf4e;
  border-radius: 50%;
  transition: width 1s;
  flex-shrink: 0;
}
.header__link-decor:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icon/tel.svg);
  transition: all 0.5s;
}
@media (max-width: 1023px) {
  .header__logo, .header__link {
    order: -1;
  }
  .header__link {
    margin-left: auto;
    z-index: 10;
  }
}
@media (max-width: 550px) {
  .header__logo img {
    width: 100%;
    height: auto;
  }
  .header__link {
    display: none;
  }
  .header__link--media {
    display: flex;
  }
}

.menu__burger {
  display: none;
}
.menu__list {
  display: flex;
  gap: 26px;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
  padding-left: 16px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__item:before {
  position: absolute;
  content: "";
  left: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 50%;
}
.menu__item--active:before {
  border: 1px solid #4eaf4e;
  background-color: #4eaf4e;
}
.menu__link {
  font-size: 18px;
  color: #262626;
  display: flex;
  align-items: center;
}
.menu__item-tel {
  display: none;
}
@media (max-width: 1023px) {
  .menu__burger {
    display: block;
    width: 36px;
    height: 30px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
  }
  .menu__burger:before, .menu__burger:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: #181818;
  }
  .menu__burger:before {
    top: 0;
    transition: top 0.5s, transform 0.5s, rotate 1s;
  }
  .menu__burger:after {
    bottom: 0;
    transition: bottom 0.5s, transform 0.5s, rotate 1s;
  }
  .menu__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: #181818;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s, transform 0.5s;
  }
  .menu__list {
    position: fixed;
    background-color: rgba(24, 24, 24, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    transform: translateX(100%);
    transition: all 1s;
    z-index: 4;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .menu__item {
    transition: all 1s;
  }
  .menu__item:before {
    border-color: #fff;
  }
  .menu__item--active:before {
    border: 1px solid #4eaf4e;
    background-color: #4eaf4e;
  }
  .menu__item:nth-child(1) {
    transform: translateX(140%);
  }
  .menu__item:nth-child(2) {
    transform: translateX(160%);
  }
  .menu__item:nth-child(3) {
    transform: translateX(180%);
  }
  .menu__item:nth-child(4) {
    transform: translateX(200%);
  }
  .menu__item:nth-child(5) {
    transform: translateX(220%);
  }
  .menu__link {
    font-size: 26px;
    color: #fff;
  }
  .menu.open-menu .menu__list {
    transform: translateX(0);
  }
  .menu.open-menu .menu__item {
    transform: translateX(0);
  }
  .menu.open-menu .menu__burger:before {
    top: 50%;
    transform: translateY(-50%);
    rotate: 45deg;
  }
  .menu.open-menu .menu__burger:after {
    bottom: 50%;
    transform: translateY(50%);
    rotate: -45deg;
  }
  .menu.open-menu .menu__burger span {
    transform: translateX(100%);
    opacity: 0;
  }
}
@media (max-width: 550px) {
  .menu__list {
    left: 0;
    width: 100%;
  }
  .menu__item-tel {
    display: flex;
  }
}

@media (max-width: 550px) {
  body.open-menu {
    overflow: hidden;
  }
}
.top {
  background-repeat: no-repeat;
  background-size: cover;
  padding: clamp(9.375rem, 8.553rem + 3.51vw, 11.25rem) 0;
}
.top--home {
  background-image: url(../img/top/topHome/bg.jpg);
}
.top--about {
  background-image: url(../img/top/topAbout/bg.jpg);
}
.top--services {
  background-image: url(../img/top/topServices/bg.jpg);
  background-position: bottom;
}
.top--serviceSingle {
  background-image: url(../img/top/topServiceSingle/bg.png);
}
.top--team {
  background-image: url(../img/top/topTeam/bg.jpg);
}
.top--caseStudy {
  background-image: url(../img/top/caseStudy/bg.jpg);
}
.top--caseStudyCase {
  background-image: url(../img/top/caseStudyCase/bg.jpg);
}
.top--blog {
  background-image: url(../img/top/blog/bg.jpg);
}
.top--blogSingle {
  background-image: url(../img/top/blogSingle/bg.jpg);
}
.top--contact {
  background-image: url(../img/top/contact/bg.jpg);
}
.top--changeLog {
  background-image: url(../img/top/changeLog/bg.jpg);
}
.top--licenses {
  background-image: url(../img/top/licenses/bg.jpg);
}
.top--protection {
  background-image: url(../img/top/protection/bg.jpg);
}
.top--bigcontent .top__content {
  max-width: 550px;
}
.top--smallcontent .top__content {
  max-width: 788px;
}
.top__content {
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.55);
  border-radius: 30px;
  padding: clamp(1.875rem, 1.19rem + 2.92vw, 3.438rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.top__title {
  font-size: clamp(1.875rem, 1.327rem + 2.34vw, 3.125rem);
  text-transform: capitalize;
}
.top__btnbox {
  display: flex;
  gap: 15px;
  width: 100%;
}
.top__btnlink {
  flex-basis: 40%;
}
.top__btn {
  min-height: 61px;
  padding: 0 30px 0 10px;
  border-radius: 42px;
  background: #fff;
  transition: all 0.5s;
  position: relative;
}
.top__btn:hover {
  transform: translateY(-4px);
}
.top__btn-text {
  font-size: 18px;
  line-height: 160%;
  color: #353535;
  margin-left: 11px;
}
.top__btn-decor {
  width: 44px;
  height: 44px;
  background-color: #FFC42B;
  border-radius: 50%;
  flex-shrink: 0;
}
.top__btn-decor:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icon/calendar.svg);
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .top--bigcontent .top__content, .top--smallcontent .top__content {
    max-width: 100%;
  }
  .top__btnbox {
    width: 100%;
    flex-direction: column;
  }
}

.ourVision {
  padding: 95px 0 clamp(3.75rem, 1.283rem + 10.53vw, 9.375rem);
}
.ourVision__inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ourVision__about {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ourVision__content {
  flex-basis: 590px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ourVision__textbox p:not(:last-of-type) {
  margin-bottom: 10px;
}
.ourVision__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ourVision__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ourVision__item-decor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(78, 175, 78);
  position: relative;
  flex-shrink: 0;
}
.ourVision__item-decor:before {
  position: absolute;
  content: "";
  width: 11px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url(../img/icon/chevron.svg);
}
.ourVision__imgbox {
  align-self: flex-end;
  position: relative;
}
.ourVision__imgbox:before {
  position: absolute;
  content: "";
  width: 226px;
  height: 226px;
  top: 0;
  right: -100px;
  background-image: url(../img/icon/dots.svg);
  z-index: -1;
}
.ourVision__img {
  margin-top: 44px;
  border-radius: 30px;
}
.ourVision__img img {
  border-radius: inherit;
}
@media (max-width: 1279px) {
  .ourVision__imgbox:before {
    display: none;
  }
}
@media (max-width: 1023px) {
  .ourVision__about {
    flex-direction: column-reverse;
  }
  .ourVision__content {
    flex-basis: auto;
  }
  .ourVision__imgbox {
    align-self: center;
  }
  .ourVision__img {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .ourVision__img img {
    width: 100%;
    height: auto;
  }
}

.counter {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.counter__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}
.counter__title {
  font-size: 50px;
}
.counter__text {
  font-size: 18px;
}

.features {
  padding: clamp(3.75rem, 2.654rem + 4.68vw, 6.25rem) 0;
  background-color: #f5f5f5;
}
.features__box {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.features__box .box__content {
  gap: 10px;
}
.features__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-content: space-between;
  gap: 25px;
}
.features__item {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 36px 23px;
  align-items: flex-start;
  transition: all 0.6s;
}
.features__item:hover {
  background: rgb(24, 24, 24);
  scale: 1.05;
}
.features__item:hover .features__text,
.features__item:hover .features__subtext,
.features__item:hover .features__link {
  color: #fff;
}
.features__item:hover .features__icon {
  scale: 1.05;
}
.features__item:hover .features__link-decor svg path {
  stroke: #fff;
}
.features__icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #181818;
  position: relative;
  transition: all 0.6s;
}
.features__icon:before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}
.features__icon--box:before {
  background-image: url(../img/features/box.svg);
  width: 25px;
  height: 27px;
}
.features__icon--ladder:before {
  background-image: url(../img/features/ladder.svg);
  width: 29px;
  height: 25px;
}
.features__icon--world:before {
  background-image: url(../img/features/world.svg);
  width: 34px;
  height: 34px;
}
.features__icon--solutions:before {
  background-image: url(../img/features/solutions.svg);
  width: 29px;
  height: 28px;
}
.features__textbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  flex: 1;
}
.features__text {
  transition: all 0.6s;
}
.features__subtext {
  color: #181818;
  transition: all 0.6s;
}
.features__link {
  font-size: 18px;
  color: #181818;
  padding-right: 23px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.6s;
}
.features__link-decor {
  transform: translateY(1px);
}
.features__link-decor svg path {
  transition: all 0.6s;
}

.ourHistory {
  padding: clamp(3.75rem, 1.283rem + 10.53vw, 9.375rem) 0;
}
.ourHistory__inner {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.ourHistory__content {
  max-width: 712px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ourHistory__box .box__pubble {
  margin: 0 auto;
}
.ourHistory__videobox {
  text-align: center;
}
.ourHistory__video {
  position: relative;
  border-radius: 30px;
  width: 962px;
  height: 369px;
  margin: 0 auto;
  overflow: hidden;
}
.ourHistory__video:before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(24, 24, 24, 0.5);
  border-radius: inherit;
}
.ourHistory__video img {
  margin: 0 auto;
  border-radius: 20px;
  transition: all 0.6s;
}
.ourHistory__video:hover img {
  scale: 1.2;
}
.ourHistory__video-play {
  position: absolute;
  width: clamp(2.938rem, 2.389rem + 2.34vw, 4.188rem);
  height: clamp(2.938rem, 2.389rem + 2.34vw, 4.188rem);
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
}
.ourHistory__video-play:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url(../img/icon/play.svg);
  z-index: 3;
}
.ourHistory__video-play::after {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: rgba(208, 208, 208, 0.3);
  border-radius: inherit;
  z-index: -10;
  animation: videoPlay 3s linear infinite;
}
@media (max-width: 1023px) {
  .ourHistory__video {
    width: 100%;
    height: auto;
  }
}

@keyframes videoPlay {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}
.ourTeam {
  padding: clamp(3.75rem, 1.283rem + 10.53vw, 9.375rem) 0;
  background-color: #f5f5f5;
}
.ourTeam__inner {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.ourTeam__content {
  max-width: 644px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ourTeam__textbox p:not(:last-child) {
  margin-bottom: 10px;
}
.ourTeam__items {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1200px) {
  .ourTeam__items {
    grid-template-columns: repeat(2, 366px);
    justify-content: space-evenly;
  }
}
@media (max-width: 800px) {
  .ourTeam__items {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 550px) {
  .ourTeam__items {
    grid-template-columns: repeat(1, auto);
  }
}

.team-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.team-card__imgbox {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
}
.team-card__imgbox:hover .team-card__img img {
  scale: 1.2;
  transform: translate(10px, 10px);
}
.team-card__img img {
  transition: scale 0.6s, transform 0.6s;
}
.team-card__img img {
  border-radius: 30px;
}
.team-card__img-pupple {
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  padding: 0 20px;
  border-radius: 30px;
  color: #fff;
}
.team-card__img-pupple--premium {
  background-color: #ffcc4a;
  color: #181818;
}
.team-card__img-pupple--medium {
  background-color: #181818;
}
.team-card__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  height: 100%;
}
.team-card__name {
  font-size: clamp(1.5rem, 1.336rem + 0.7vw, 1.875rem);
}
.team-card__info {
  margin-bottom: 10px;
  flex: 1;
}
@media (max-width: 800px) {
  .team-card .team-card__img img {
    width: 100%;
    height: auto;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.social__link svg path {
  transition: all 0.6s;
}
.social__link:hover svg path {
  fill: #4eaf4e;
}

.bookNow {
  padding: clamp(4.375rem, 1.634rem + 11.7vw, 10.625rem) 0;
}
.bookNow__inner {
  padding: 0 clamp(3.125rem, 2.029rem + 4.68vw, 5.625rem);
  background: rgb(24, 24, 24);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.bookNow__content {
  flex-basis: 430px;
  padding: 30px 0;
}
.bookNow__box {
  margin-bottom: 8px;
}
.bookNow__box .box__title {
  color: #fff;
}
.bookNow__box .box__title span {
  color: #727272;
}
.bookNow__text {
  color: #fff;
  margin-bottom: 20px;
}
.bookNow__link {
  display: inline-flex;
  align-items: center;
  min-height: 61px;
  padding: 0 30px 0 21px;
  border-radius: 42px;
  background-color: #FFCC4A;
  transition: all 0.5s;
  position: relative;
}
.bookNow__link:hover {
  transform: translateY(-4px);
}
.bookNow__link-text {
  font-size: 18px;
  line-height: 160%;
  color: #353535;
  padding-left: 27px;
  position: relative;
  display: flex;
  align-items: center;
}
.bookNow__link-text:before {
  content: "";
  position: absolute;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/tel.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .bookNow__img {
    display: none;
  }
  .bookNow__content {
    padding: 60px 0;
    flex-basis: auto;
  }
  .bookNow__link {
    width: 100%;
    justify-content: center;
  }
}

.footer {
  padding-top: 126px;
  -webkit-backdrop-filter: blur(43px);
          backdrop-filter: blur(43px);
  background-color: rgba(24, 24, 24, 0.9);
}
.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__social {
  font-size: 20px;
  text-transform: capitalize;
}
.footer__social a {
  color: #fff;
}
.footer__content {
  flex-basis: 676px;
}
.footer__menu {
  display: grid;
  grid-template-columns: 130px 130px 240px;
  justify-content: space-between;
  gap: 10px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__list--adress {
  font-style: normal;
}
.footer__text {
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}
.footer__text:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  animation: footerItem 1s linear infinite;
  background-color: rgb(255, 204, 74);
  border-radius: 30px;
}
.footer__itembox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer__item {
  padding-left: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.footer__item--nodecor {
  padding-left: 0;
}
.footer__item--nodecor:after {
  display: none;
}
.footer__item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.footer__link, .footer__item {
  color: #fff;
}
.footer__btn:hover {
  color: #fff;
}
.footer__copy {
  padding: 20px 0 26px;
  border-top: 1px solid rgb(112, 112, 112);
}
.footer__copy-text {
  color: #fff;
  text-align: center;
}
.footer__copy-text a {
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 60px;
  }
  .footer__inner {
    gap: 60px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__content {
    flex-basis: auto;
  }
  .footer__logo {
    gap: 10px;
  }
}
@media (max-width: 650px) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__list--adress {
    grid-column: span 2;
  }
}

@keyframes footerItem {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}/*# sourceMappingURL=about.css.map */