.content-img{
    position: absolute;
    right: 46px;
    bottom: -33px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: $borderRadiusCard;
    box-shadow: 0px 24px 42px 0px rgba(185, 185, 185, 0.25);
    backdrop-filter: blur(32px);
    background: rgba(255, 255, 255, 0.3);   
    display: inline-flex; 
    align-items: center;
    gap:20px;
    padding: 30px 60px 30px 30px;
    &__info{
        display: flex;
        flex-direction: column;
        gap:2px;
        position: relative;
        z-index: 4;
    }
    &__title{
        @extend %title;
        font-size: clamp(2.5rem, 4.987rem + -10.61vw, 4.125rem);
    }
    &__text{
        @extend %text;
    }
    @media(max-width:1023px){
        padding: 30px;
    }
    @media(max-width:767px){
        padding: 15px;
    }
}