.footer{
    padding-top: 126px;
    backdrop-filter: blur(43px);
    background-color: rgba(24, 24, 24, 0.9);
    &__inner{
        display: flex;
        flex-direction: column;
        gap:100px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        gap:20px;
    }
    &__logo{
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    &__social{
        font-size: 20px;
        text-transform: capitalize;
        a{
            color:#fff;

        }
    }
    &__content{
        flex-basis: 676px;
    }
    &__menu{  
        display: grid;
        grid-template-columns: 130px 130px 240px;
        justify-content: space-between;
        gap: 10px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap:10px;
        &--adress{
            font-style: normal
        }
    }
    &__text{
        @extend %text;
        color:#fff;
        position: relative;
        padding-bottom: 10px;
        &:before{
            position: absolute;
            content:"";
            left: 0;
            bottom: 0;
            height: 2px;
            animation: footerItem 1s linear infinite;
            background-color: rgb(255, 204, 74);
            border-radius: $borderRadiusCard;
        }
    }
    &__itembox{
        display: flex;
        flex-direction: column;
        gap:2px;
    }
    &__item{
        padding-left: 15px;
        display: flex;
        align-items: center;
        position: relative;
        &--nodecor{
            padding-left: 0;
            &:after{
                display: none;
            }
        }
        &:after{
            content:"";
            position: absolute;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &__link,
    &__item{
        color:#fff;
    }
    &__btn{
        @extend %btn--default;
        &:hover{
            color:#fff;
        }
    }
    &__copy{
        padding: 20px 0 26px;
        border-top: 1px solid rgb(112, 112, 112);
    }
    &__copy-text{
        color:#fff;
        text-align: center;
        a{
            color:#fff;
        }
    }
    @media(max-width:767px){
        padding-top: 60px;
        &__inner{
            gap:60px;
        }
        &__top{
            flex-direction: column;
        }
        &__content{
            flex-basis: auto;
        }
        &__logo{
            gap:10px;
        }
    }
    @media(max-width:650px){
        &__menu{
            grid-template-columns: repeat(2,1fr);
        }
        &__list--adress{
            grid-column: span 2;
        }
    }
}

@keyframes footerItem{
    0%{
        width: 0;
    }
    100%{
        width: 30px;
    }
}