.password{
    padding: clamp(3.75rem, 1.283rem + 10.53vw, 9.375rem) 0;
    &__inner{
        background-color: #181818;
        border-radius: $borderRadiusCard;
        padding: clamp(4.375rem, 4.101rem + 1.17vw, 5rem) 20px;
    }
    &__form{
        max-width: 384px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:clamp(1.25rem, 0.976rem + 1.17vw, 1.875rem);
        margin: 0 auto;
        align-items: center
    }
    &__title{
        @extend %title;
        color:#fff;
    }
    &__input{
        @extend %flexCenter;
        min-height: $minHeight-btn;
        @include padding(0,33px,0,33px);
        @include borderRadius($borderRadiusBtn);
        color:#595566;
        background-color: #fff;
        transition: all .5s;
        width: 100%;
        &:hover{
            transform: translateY(-4px);
        }
    }
    &__btn{
        @extend %btn--accent;
        @include padding(0,50px,0,50px);
        &:hover{
            color:#181818;
            background-color: #fff;
        }
    }
    @media(max-width:767px){
        &__btn{
            width: 100%;
        }
    }
}