.proccess{
    padding: clamp(5.625rem, 3.98rem + 7.02vw, 9.375rem) 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        gap:20px;
    }
    @media(max-width:1279px){
        &__inner{
            flex-direction: column-reverse;
            gap: 80px;
        }
    }
}