.social{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    &__link{
        svg{
            path{
                transition: all .6s;
            }
        }
        &:hover{
            svg{
                path{
                    fill:$accent-color;
                }
            }
        }
    }
}