.team{
    padding: clamp(3.75rem, 1.557rem + 9.36vw, 8.75rem) 0;
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 43px;
    }
    &__box{
        flex-direction: row;
        justify-content: space-between;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(3,366px);
        justify-content: space-between;
        gap: 20px;
    }
    @media(max-width:1200px){
        &__items{
            grid-template-columns: repeat(2,366px);
            justify-content: space-evenly;
        }
    }
    @media(max-width:800px){
        &__items{
            grid-template-columns: repeat(2,auto);
        }
    }
    @media(max-width:550px){
        &__items{
            grid-template-columns: repeat(1,auto);
        }
    }
}